@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

$ff-main:'League Spartan', sans-serif;
$ff-sec: 'Antonio', sans-serif;



$bg-color:#070724;
$darkGray: #38384F;

$mercury:#419EBB;

$fc-main: #FFFFFF;
$fc-sec:#838391;

*{
    box-sizing: border-box;
}

html{
    display: flex;
    justify-content: center;
}

h1,h2, .char-value{
    text-transform: uppercase;
    font-family:  $ff-sec;
    font-weight: 400;
    letter-spacing: 2px;
    color: $fc-main;
}

body{
    max-width: 1440px;
    margin: 0;
    background: url(../assets/background-stars.svg);
    background-color: $bg-color;
    color: $fc-main;
    font-size: 16px;
    font-family: $ff-main;
}

header{
    padding: 1em 2em ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    h2{
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 400;
    }

    .planets-container{
        display: none;
        text-transform: uppercase;
        text-align: right;
        gap: 2em;
        font-weight: 700;
        color: $fc-sec;
        letter-spacing: 2px;

        p{
            &:hover{
                cursor: pointer;
                color: $fc-main;
            }
        }
    }

}

.sections-menu{
    display: flex;
    justify-content: space-between;
    padding:  0 2em;
    font-weight: 700;
    color: $fc-sec;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid $darkGray;
    

    
    .selected{
        border-bottom: 4px solid $mercury;
        color: $fc-main;
    }

    .section-btn{
        padding: 2em 0em;
        border-bottom: 4px solid transparent;
        &:hover{
            cursor: pointer;
            border-bottom: 4px solid $mercury;
            color: $fc-main;
        }
    }

}

main{
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2em;
    grid-template-areas: 
    "planetImage"
    "textArea"
    "charArea";

    .img-container{
        grid-area: planetImage;
        min-height: 256px;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 111px;
        }

    }

    .text-container{
        grid-area: textArea;
        text-align: center;

        h1{
            font-size:2.5rem ;
        }

        p{
            line-height: 2;
            letter-spacing: 2px;
            margin-bottom: 2.5em;
        }

        a{
            
            font-size: 1.2rem;
            text-decoration: none;
            color: $fc-sec;

            span{
                font-weight: 700;
                text-decoration: underline;
            }
        }
    
    }

    .section-menu-big{
        grid-area: sectionMenu;
        display: none;

        .section-btn-big{
            border: 1px solid $darkGray;
            padding: 1em 1.5em;
            display: flex;
            gap: 2em;


            .btn-text{
                text-transform: uppercase;
            }
        }
    }

    .additional-characteristics-container{
        grid-area: charArea;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .characteristic{
            border: 1px solid $fc-sec;
            padding: 1em 1.5em;
            text-transform: uppercase;
            color: $fc-sec;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .char-title{
                font-weight: 700;
                letter-spacing: 2px;
            }

            .char-value{
                font-size: 1.5rem;
            }
        }
    }
}


@media (min-width:900px) {
    html{
        height: 100vh;
        align-items: center;
    }
    header{
        border: 1px solid $darkGray;
        .planets-container{
            display: flex;

        }
    }
    main{
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2em;
        grid-template-areas: 
        "planetImage textArea"
        "planetImage sectionMenu"
        "charArea charArea";

            .img-container{
            img{
                width: 290px;
            }
        }

        .section-menu-big{
            display: flex;
            flex-direction: column;
            gap: 1em;

            .section-btn-big{
                &:hover{
                    cursor: pointer;
                    background: $mercury;
                }
            }
        }
    
        .additional-characteristics-container{
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            .characteristic{
                width: 255px;
                height: 128px;
                flex-direction: column;
                gap: 1em;
                align-items: flex-start;
                padding: 1.5em;
                .char-value{
                    font-size: 2.2rem;
                }
            }
    
        }
    }

    .sections-menu{
        display:none;
    }

    header img{
        display: none;
    }
}